/*页面基础样式*/
body{
	font:12px "微软雅黑","黑体";
	color:#9a9a9a;
}
/*清除默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
	color:#9a9a9a;
}
a:hover{
	color:#64a131;
}

/*页面整体宽度和居中效果*/
#container{
	width:990px;
	margin:0 auto;
}

/*1. 导航*/
#nav{
	background:#eee;
	height:30px;
	line-height:30px;
}
/*右侧导航*/
#nav .rightNav{
	float:right;
}
#nav .rightNav>li{
	float:left;
	padding:0 5px;
	/*border-right:1px solid black;
	margin-right:10px;
	margin-top:7px;
	*/
}
#nav .rightNav>li>b{
	margin-right:10px;
	border-left:1px solid gray;
}
/*左侧导航*/
#nav .leftNav>li{
	float:left;
	padding-left:10px;
}
#nav .leftNav>li>i{
	display:inline-block;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top:6px solid black;
	position:relative;
	top:4px;
}
/*下拉菜单*/
#nav .address{
	position:relative;
}
#nav .select{
	position:absolute;
	display:none;
	z-index:100;
	color:#000;
	cursor:pointer;
}
#nav .address:hover .select{
	display:block;
	background:rgba(255,0,0,.5);
}
#nav .select>li:hover{
	font-weight:bold;
}

/*2. 横幅*/
#banner{
	margin:15px 0;
	height:207px;
	position:relative;
}
#banner img{
	width:100%;
}
/*除第一张图片外,其他图片元素都隐藏*/
#banner img:not(:first-child){
	display:none;
}
#banner .imgNav{
	position:absolute;
	bottom:20px;
	right:20px;
}
#banner li{
	float:left;
	width:20px;
	height:20px;
	border-radius:50%;
	color:#fff;
	background:gray;
	text-align:center;
	line-height:20px;
	margin:0 10px;
}
/*第一张图片默认显示,索引背景色为红色*/
#banner li:first-child{
	background:red;
}
/*3. 推荐*/
#commend{
	/*解决行内元素由于换行导致的水平间隙*/
	font-size:0;
	height:112px;
}
#commend img{
	width:240px;
	margin-right:10px;
}
#commend .lastImg{
	margin:0;
}
/*4. 主体*/
#main{
	margin-top:25px;
}
/* 4.1 标题 */
#main .title{
	height:32px;
	background:#f3f3f3;
	border:1px solid #e9e9e9;
}
#main .title>p{
	float:left;
	line-height:32px;
}
#main p.check-box{
	width:132px;
}
#main p.goods{
	width:378px;
}
#main p.price{
	width:160px;
	text-align:center;
}
#main p.count{
	width:80px;
	text-align:center;
}
#main p.sum{
	width:140px;
	text-align:center;
}
#main p.action{
	width:85px;
	text-align:center;
	cursor:default;
}
#main #checkAll{
	vertical-align:middle;
}

/* 4.2 商品展示 */
#main .g-item{
	border-top:2px solid #999;
	border-bottom:1px solid #999;
	padding:10px 0;
	margin-top:25px;
/* 清除浮动影响 */
	overflow:hidden;
}
#main .g-item>p{
	float:left;
}
#main .check-box img{
	width:80px;
	height:80px;
}
#main .check-box [name=check]{
	vertical-align:top;
}

/*
a : 16 * 18
input : 42 * 18
*/
#main .count a{
	float:left;
	width:16px;
	height:18px;
	text-align:center;
	line-height:18px;
	border:1px solid #cacbcb;
	padding:1px 0;
}
#main .count input{
	float:left;
	width:42px;
	height:18px;
	border-left:none;
	border-right:none;
	border-top:1px solid #cacbcb;
	border-bottom:1px solid #cacbcb;
	text-align:center;
	font-size:12px;
	padding:1px;
}
/* 5.底部工具栏 */
#cart-toolbar{
	position:fixed;
	bottom:0;
	height:50px;
	line-height:50px;
/* 块元素浮动之后,宽度不再与父元素一致,由内容决定 */
	width:990px;
	color:#999;
}
#cart-toolbar .commit-right{
	float:right;
}
#cart-toolbar p{
	float:left;
}
#cart-toolbar span{
	font-weight:bold;
	color:#e4393c;
	font-size:16px;
	margin:0 10px;
}
#cart-toolbar .submit-count{
	margin:0 20px;
}
#cart-toolbar .submit-btn{
	width:80px;
	height:50px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	background:#e4393c;
	color:#fff;
	cursor:default;
}




