<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul{
            list-style:none;
            padding:0;
            margin:0;
        }
        ul li{
            float:left;
            margin-right:8px;
        }

        .form-control{
            border:1px solid #666;
            width:135px;
            height:24px;
            border-radius:5px;
            color:#333;
        }
    </style>
</head>
<body>
<form action="">
    {{ form.as_p }}
</form>
</body>
</html>